.style{
  margin-top: 1%;
}
.style1{
  margin-top: 1%;
  transform: perspective(100px) translateX(-20px);
}
.style2{
  margin-top: -2%;
  transform: perspective(200px) translateX(-200px);
  width: 90px;
}
.style3{
  margin-top: -2%;
  background-color: red;
  color: white;
}
.style4{
  padding: 20px;
}
.style5{
  margin-top: 1%;
  transform: perspective(100px) translateX(-400px);
}
.style6{
  margin-top: 1%;
  transform: perspective(100px) translateX(-50px);
}
.style7{
  padding: 40px;
}
style8{
  transform: perspective(100px) translateX(100px);
}
.style9{
  font-size: 20px;
}
.style10{
  transform: perspective(100px) translateY(90px);
}
.style11{
  text-decoration: line-through;
  color: red;
}
.style12{
  transform: perspective(100px) translateY(150px) translateX(90px);
}
.style13{
  transform: perspective(100px) translateY(50px);
}